:defined{

    --width: 300px;
    --padding: 10px;
    --bgColor: rgb(52,52,52);
    --hoverColor:rgb(23,23,23);
    --border:rgb(87, 87, 149);
    --width-collapsed: 50px;}



body{
    background-color: #032c55;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding: 0;
    margin: 0;
   margin-left: var(--width-collapsed);
    color: aliceblue;}


h1{
    color: aliceblue;
}

/******
Style
*****/
#seting:hover ,#Productos:hover,#Estadistica:hover,#Button-content-aside:hover,#perfil-aside:hover{
    background: var(--hoverColor);
}

/************
    ASIDE
*******/
.content-aside{
    position: fixed;
    left: 0;
    padding: var(--padding);
    width: var(--width);
    height: 100%;
    background-color: var(--bgColor);}

.content-aside-header{
    width: inherit;
    margin-top: -8px;
    box-sizing: border-box;
    border-bottom: 1px solid var(--border);}

.content-aside-header header{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: auto;
    text-align: center;}

.content-aside-header-picture{
    margin: auto;
    width: 50%;}

.content-aside-header-title{
    font-size: 12px;}

/**********
    IMG
*********/
#aside-menu{
    width: 50px;
    margin-top: 12px;}
#aside-user-img{
    width: 100px;
    margin-top: 12px;
}
.aside-img{
    width: 60px;}

/******
Border-Botton
*******/
.botton{
    border-bottom: 1px solid var(--border);
    margin-top: -15px;
    margin-bottom:25px;}

/**********
Perfil
**********/
.content-aside-perfil{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid var(--border);}

.list-items{
    list-style: none;}

.list-items a{
    color: aliceblue;
    text-decoration: none;}


/*******
ITEMS
*******/

.content-aside-navigator{
    width: 100%;
    }

.navigator-list{
    width: inherit;
    display: flex;
    flex-direction: column;}

.navigator-list div{
    width: 94%;
    padding: 10px;
    margin-bottom: 5px;
    margin-left: -42px;}

.navigator-list li{
    display: flex;
    align-items: center;}

.list-items a{
    width: 50%;
    text-align: center;}

.aside-navigator-img{
  margin-left: 15px;}